[submodule "ios"]
	path = ios
	url = git@github.com:juspay/hyperswitch-sdk-ios.git
	branch = main
[submodule "android"]
	path = android
	url = git@github.com:juspay/hyperswitch-sdk-android.git
	branch = main
[submodule "shared-code"]
	path = shared-code
	url = git@github.com:juspay/hyperswitch-sdk-utils.git
	branch = main
[submodule "react-native-hyperswitch"]
	path = react-native-hyperswitch
	url = git@github.com:juspay/react-native-hyperswitch.git
