name: Publish Android Release

on:
  repository_dispatch:
    types: [android_repo_push]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Checkout Android Repo
        uses: actions/checkout@v4
        with:
          repository: juspay/hyperswitch-sdk-android
          ref: main
          path: android

      - name: Checkout Shared Code Repo
        uses: actions/checkout@v4
        with:
          repository: juspay/hyperswitch-sdk-utils
          ref: main
          path: shared-code

      - name: Check android subrepo branch and commit message
        id: extract-libs
        working-directory: ./android
        run: |
          CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD)
          if [[ "$CURRENT_BRANCH" != "main" ]]; then
            echo "Not on main branch in android directory. Skipping workflow."
            exit 1
          fi

          COMMIT_MSG=$(git log -1 --pretty=%B)
          # if [[ ! "$COMMIT_MSG" =~ ^release:\[(.*)\] ]]; then
          #   echo "$COMMIT_MSG"
          #   echo "Invalid commit message format. Expected: release:[lib1,lib2]"
          #   exit 0
          # fi

          if [[ ! "$COMMIT_MSG" =~ ^release:\[([-a-zA-Z0-9,_-]+)\] ]]; then
            echo "$COMMIT_MSG"
            echo "Invalid commit message format. Expected: release:[lib1,lib2]"
            exit 0
          fi

          LIBS="${BASH_REMATCH[1]}"
          echo "Found libraries: $LIBS"
          echo "libraries=$LIBS" >> $GITHUB_OUTPUT

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: central
          server-username: ${{secrets.ANDROID_CENTRAL_TOKEN_USERNAME }}
          server-password: ${{ secrets.ANDROID_CENTRAL_TOKEN_PASSWORD }}
          gpg-private-key: ${{ secrets.ANDROID_GPG_SIGNING_KEY }}
          gpg-passphrase: ${{ secrets.ANDROID_GPG_SIGNING_KEY_PASSWORD }}

      - name: Dependency Install
        run: |
          # Install dependencies using npm
          npm i
          npm run re:start

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          build-root-directory: ./android
          cache-read-only: false
          gradle-home-cache-includes: |
            caches
            notifications
            jdks

      - name: Remove demo-app and demo-app-lite from settings.gradle
        working-directory: ./android
        run: |
          sed -i "/include ':demo-app'/d" settings.gradle
          sed -i "/include ':demo-app-lite'/d" settings.gradle

      - name: Replace the ota endpoint
        working-directory: ./android
        env:
          PROD_ASSETS_END_POINT_WITH_VERSION: ${{ secrets.PROD_ASSETS_END_POINT_WITH_VERSION }}
          SANDBOX_ASSETS_END_POINT_WITH_VERSION: ${{ secrets.SANDBOX_ASSETS_END_POINT_WITH_VERSION}}
        run: |
          sed -i 's|<string name="hyperOTAEndPoint">.*</string>|<string name="hyperOTAEndPoint">'"$PROD_ASSETS_END_POINT_WITH_VERSION"'</string>|' ./app/src/main/res/values/strings.xml 2>/dev/null
          sed -i 's|<string name="hyperOTASandBoxEndPoint">.*</string>|<string name="hyperOTASandBoxEndPoint">'"$SANDBOX_ASSETS_END_POINT_WITH_VERSION"'</string>|' ./app/src/main/res/values/strings.xml 2>/dev/null

      - name: Build and Publish
        working-directory: ./android
        env:
          SONATYPE_TOKEN: ${{ secrets.ANDROID_SONATYPE_AUTH_TOKEN }}
          SELECTED_LIBRARIES: ${{ steps.extract-libs.outputs.libraries }}
          GPG_PASSPHRASE: ${{ secrets.ANDROID_GPG_SIGNING_KEY_PASSWORD }}
          SENTRY_DSN: ${{ secrets.HYPERSWITCH_SENTRY_DSN }}
          SENTRY_ENV: 'production'
          HYPERSWITCH_PRODUCTION_URL: ${{ secrets.HYPERSWITCH_PRODUCTION_URL }}
          HYPERSWITCH_INTEG_URL: ${{ secrets.HYPERSWITCH_INTEG_URL }}
          HYPERSWITCH_SANDBOX_URL: ${{ secrets.HYPERSWITCH_SANDBOX_URL }}
          HYPERSWITCH_LOGS_PATH: ${{ secrets.HYPERSWITCH_LOGS_PATH }}
          PROD_ASSETS_END_POINT: ${{ secrets.PROD_ASSETS_END_POINT }}
          SANDBOX_ASSETS_END_POINT: ${{ secrets.SANDBOX_ASSETS_END_POINT }}
          INTEG_ASSETS_END_POINT: ${{ secrets.INTEG_ASSETS_END_POINT }}

        run: |
          ./build-lib.sh
